@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
  width: 100%;
}

.App-header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(174, 255, 174);
  font-family: 'Damion', cursive;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0px;
  padding: 0px;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.logo-wrapper img {
  height: 50px;
  width: auto;
  margin: 25px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 25px;
}

button {
  margin: 10px;
  background-color: transparent;
  border: none;
}

button img {
  height: 30px;
  width: auto;
  background-color: transparent;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
}

.image-recipe-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.recipe-ingrediants {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  background-color: #Ececec;
  height: 534px;
  overflow: scroll;
  padding: 15px;
}

.recipe-ingrediants li {
  line-height: 2em;
}

footer {
  height: auto;
  width: 100%;
  display: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chef-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.chef-wrapper img{
  height: 75px;
  width: auto;
}

.chef-wrapper button {
  height: 25px;
  background-color: rgb(174, 255, 174);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
