.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(174, 255, 174);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Damion', cursive;
  font-size: calc(10px + 2vmin);
  color: black;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.logo-wrapper img {
  height: 50px;
  width: auto;
  margin: 25px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 25px;
}

button {
  margin: 10px;
  background-color: transparent;
  border: none;
}

button img {
  height: 30px;
  width: auto;
  background-color: transparent;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
